/* DIRTY Responsive pricing table CSS */

/* DIRTY Responsive pricing table CSS */

/*
- make mobile switch sticky
*/

article.hinnasto {
  width: 90%;
  max-width: 1200px;
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
article.hinnasto > ul {

  top: 0px;
  padding-bottom: 14px;
}
article.hinnasto > ul > li {
  list-style: none;
  flex: 1;
}
article.hinnasto > ul > li:last-child {
  border-right: 1px solid #ddd;
}
article.hinnasto > ul > li > button {
  width: 100%;
  border: 1px solid #ddd;
  border-right: 0;
  border-top: 0;
  padding: 10px;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  color: #999;
}
article.hinnasto > ul > li.active button {
  background: $light;
  color: #000;
}

@media (min-width: 640px) {
  article.hinnasto > ul {
    display: none;
  }
  td,
  th {
    display: table-cell !important;
  }
  td,
  th {
    width: 420px;
  }
  td + td,
  th + th {
    width: auto;
  }
}

article.hinnasto > h3 {
  display: block;
  color: $primary;
  margin-top: 1em;
  font-weight: bold;
}

span.plan {
  font-weight: bold;
  color: $primary;
}
