.nosto {

  margin-bottom: 1em;

  //  max-width: 640px;
  &__content {
    margin: 0.5em 0.5em 0.5em 0.5em;

    border: 1px solid $primary;
    border-radius: 5px;
    padding-bottom: 1em;

    width: 100%;
    height: 100%;
  }


  &__caption {
    background-color: $primary;

    color: white;
    padding-bottom: 0.5em;
    text-align: center;
  }

  &__image {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin: 10px 10px 10px 10px;
    max-height: 90%;
    max-width: 90%;
    z-index: 1;
  }
  &__text {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: $primary;
    vertical-align: center;

    @media (max-width: 620px) {
      width: 100%;
    }
  }
}

.nosto__caption > h2 {
  font-variant-caps: all-small-caps;
  font-size: 160%;
}


.nostot {
  margin-top: 1em;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nostot > h2 {
  text-align: center;
  width: 100%;
  color: $primary;
  font-weight: bold;
}

.nostot > p {
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.hinnat {
  width: 100%;
  display: flex;
}


.hinta {
  margin-bottom: 1em;

  &__content {
    background-color: white;
    color: black;
    border-radius: 5%;
    padding: 1em 1em 0.5em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    height: 100%;
    flex: 1;
    text-align: center;
  }

  &__caption {

  }

  &__euro {
    font-size: 200%;
    font-weight: bold;
    color: $primary;
    margin: 0px 0px 0px 0px;
  }

  &__kk {
    font-size: 95%;
  }

  &__intro {
    color: $primary;
    font-size: 95%;
  }
}

.hinta__caption > h3 {
  font-weight: bold;
}


.etusivu {
  color: $primary;
  font-weight: bold;
}

.huomio {

  &__icon {
    font-size: 250%;
    color: $primary;
  }

}

.huomio > h3 {
  color: $primary;
  font-weight: bold;
}

.card {
  background-color: white;
  border: 1px solid $primary;
}

.card-header {
  background-color: white;
  border: none;
  font-weight: bold;
  color: $primary;
}

.card-body {
  border: none;
}

.card-footer {
  border: none;
  background-color: white;
}

.loota {
  background-color: $light;
  padding: 2.5em 1.5em 1.5em 1.5em;
  border-radius: 5%;
}

.loota > h2 {
  font-weight: bold;
  margin-bottom: 1em;
}
