/*

Add styles or override variables from the theme here.

*/

$primary: #7e57c2;
$secondary: #a23b72;
$light: #9868eb;
$dark: #7e57c2;

$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;
