div.versiosta {
  font-weight: $font-weight-medium;
  background: rgba(red($light), green($light), blue($light), 0.25);

  color: inherit;
  border-radius: 0;
  margin: 2rem;
  padding: 0.5rem;
}

div.versiosta-print {
  font-weight: $font-weight-medium;
  background: none;
  border: solid $light;
  color: inherit;
  border-radius: 0;
  margin: 2rem;
  padding: 0.5rem;
}

span.versionumero {
  font-weight: $font-weight-bold;
}
