+++
title = "Kitsas"
linkTitle = "Kitsas"
+++

{{< blocks/cover title="Ystävällinen kirjanpito-ohjelmasi" image_anchor="top" height="min" color="dark" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="lataa">
		Lataa Kitsas maksutta<i class="fab fa-windows ml-2 "></i><i class="fab fa-apple ml-2 "></i><i class="fab fa-linux ml-2 "></i>
	</a>
	<p class="lead">Kitsas on ilmainen, kun tallennat kirjanpidon omalle koneellesi.<br/>
	Pilvitallennus, käyttäjätuki ja lisäominaisuudet edullisena vuositilauksena.</p>
	<p class="lead"><b>Uusimmassa versiossa tuki 25,5 %:n arvonlisäverolle!</b></p>
</div>
{{< /blocks/cover >}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-users" title="Yhdistyksille" %}}
<p>Ohjelma on kehitetty alunperin yhdistyksille, joten yhdistyksien tarvitsemiin toimintoihin on panostettu aivan
erityisesti.</p>
<a class="btn btn-lg btn-primary mr-3 mb-4" href="yhdistykselle">Lue lisää</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-industry" title="Yrittäjille ja yrityksille" %}}
Kitsaalla huolehdit vaivattomasti toiminimen tai pienehkön yrityksen kirjanpidon.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-home" title="Asunto-osakeyhtiöille"%}}
Kitsaasta löytyy myös tilikartta asunto-osakeyhtiöille ja vastikkeiden laskutus.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-building" title="Tilitoimistolle"%}}
<p>Kitsas Pro on tehokas työkalu tilitoimistoille pienten yritysten ja yhdistysten kirjanpitoon.</p>
<a class="btn btn-lg btn-primary mr-3 mb-4" href="pro">Lue lisää</a>
{{% /blocks/feature %}}

{{< /blocks/section >}}
{{< blocks/section color="white">}}

<div class="row nostot">
<h2>Tämä kaikki on ilmaista</h2>
</div>

<div class="row">


	{{< nosto title="Eroon mapeista" image="mapit" >}}
	Kitsas käsittelee ja arkistoi sähköiset tositteet
	{{</nosto>}}

	{{< nosto title="Laskuta" image="lasku">}}
	Kitsaassa on sisäänrakennettu laskutus
	{{</nosto>}}

	{{< nosto title="Ystävällinen" image="neuvoo">}}
	<p>Suunniteltu ihmisille, jotka eivät ole taloushallinnon ammattilaisia.</p>
	{{</nosto>}}

	{{< nosto title="Tilinpäätös nopsasti" image="tilinpaatos">}}
	Kitsas laskee poistot ja jaksotukset sekä muodostaa lopuksi vielä valmiit tilinpäätösasiakirjat
	{{</nosto>}}

	{{< nosto title="Sinun kirjanpitosi" image="arkisto">}}
	<p>Kirjanpidostasi muodostetaan sähköinen arkisto, joka on käytettävissäsi myös ilman Kitsasta. </p>
	{{</nosto>}}

	{{< nosto title="Nuuskii tositteet" image="nuuskii">}}
	<p>Kitsas analysoi tositteet ja löytää kirjauksessa tarvittavia tietoja.<p>
	{{</nosto>}}

	{{< nosto title="Kirjanpidon raportit" image="raportit">}}
	<p>Pääkirja, päiväkirja, tase, tuloslaskelma, tase-erittely...</p>
	{{</nosto>}}

	{{< nosto title="Kohdennukset" image="kohdennus">}}
	<p>Menojen ja tulojen helppo kohdentaminen kustannuspaikoilla ja projekteille tai avustuksien käytön seuranta.</p>
	{{</nosto>}}

</div>
<div class="row nostot">
<h2>Tilaajalle vielä enemmän</h2>
</div>

<div class="row">

	{{< nosto title="Käyttäjätuki" image="tuki" >}}
	<p>Helpdesk auttaa sähköpostilla ja puhelimella</p>
	{{</nosto>}}


	{{< nosto title="Kirjanpito pilveen" image="palvelin" >}}
	<p>Kirjanpitosi tallennetaan suomalaiselle, varmuuskopioidulle palvelimelle.</p>
	{{</nosto>}}

	{{< nosto title="Sähköinen alv-ilmoitus" image="alv" >}}
	<p>Alv-ilmoitus siirtyy ohjelmasta suoraan verottajalle.</p>
	{{</nosto>}}

	{{< nosto title="Verkkolaskut" image="verkkolasku" >}}
	<p>Verkkolaskujen vastaanottaminen ja lähettäminen suoraan ohjelmasta.</p>
	{{</nosto>}}

	{{< nosto title="Tilitiedot pankista" image="bci" >}}
	<p>Tilitapahtumien päivittäinen nouto suoraan pankista (maksullinen lisäosa)</p>
	{{</nosto>}}

	{{< nosto title="Vastikelaskutus" image="vastike" >}}
	<p>Kuukausittaisten vastikkeiden ja vuokrien laskutus ja seuranta.</p>
	{{</nosto>}}

	{{< nosto title="Webkitsas" image="web" >}}
	<p>Kirjanpidon ja raporttien seuraaminen suoraan verkkoselaimella</p>
	{{</nosto>}}

	{{< nosto title="Laskujen kierto" image="kierto" >}}
	<p>Mahdollisuus kierrättää laskut hyväksyttävinä ennen maksamista.</p>
	{{</nosto>}}


</div>
<div class="row nostot">
<h2>Eikä tässäkään vielä kaikki</h2>
<p>Lataa ohjelma maksutta ja tutustu itse, tai löydä vielä lisää ominaisuuksia selailemalla ohjeita</p>

</div>
<div class="col nostot">
<a class="btn btn-lg btn-primary mr-3 mb-4" href="lataa">
	Lataa Kitsas maksutta<i class="fab fa-windows ml-2 "></i><i class="fab fa-apple ml-2 "></i><i class="fab fa-linux ml-2 "></i>
</a>
<a class="btn btn-lg btn-primary mr-3 mb-4" href="docs">
	Lue ohjeita<i class="fa fa-book ml-2 "></i>
</a>
</div>



{{< /blocks/section>}}


{{< blocks/section color="primary" >}}

<div class="row hinnat">
	{{<hinta title="Ilmainen" hinta="0" intro="Tallenna omalle koneellesi" stars="1">}}

	{{<hinta title="Kerho" hinta="4,17" intro="Arvonlisäverottomaan toimintaan">}}

	{{<hinta title="Firma" hinta="10,42" intro="Yrittäjälle ja yrityksille">}}

		<div class="col 3 hinta">
		  <div class="hinta__content">

		    <div class="hinta__caption">
		      <h3>Pro</h3>
		    </div>
		    <div class="hinta__price">
		      alkaen <p class="hinta__euro">50 €</p>
		      <p class="hinnat__kk">/kk + alv 25,5% </p>
		    </div>
		    <div class="hinta__intro">
		      <p>Tilitoimistolle</p>
					<a class="btn btn-lg btn-primary mr-3 mb-4" href="pro">Lue lisää</a>
		    </div>

		  </div>
		</div>

</div>
<div class="col nostot">
		<p>Ennen tilauksen tekemistä pääset vielä kokeilemaan ohjelman kaikkia ominaisuuksia 30 päivän kokeilujakson ajan.  </p>
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="hinnat">
		Katso koko hinnasto
	</a>
</div>

{{< /blocks/section >}}



{{< blocks/section color="white">}}
<div class="col">
	<h1 class="text-center etusivu">Uutta Kitsaassa</h1>
</div>
{{<recent_posts>}}
{{<uutiskirje>}}
{{< /blocks/section >}}
