+++
title = "Kitsas"
linkTitle = "Kitsas"

+++

{{< blocks/cover title="Ystävällinen kirjanpitäjäsi" image_anchor="top" height="min" color="dark" >}}

<div class="mx-auto">	
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="lataa">
		Lataa Kitsas maksutta<i class="fab fa-windows ml-2 "></i><i class="fab fa-apple ml-2 "></i><i class="fab fa-linux ml-2 "></i>		
	</a>
	<p class="lead">Kitsas on ilmainen, kun tallennat kirjanpidon omalle koneellesi.<br/>
	Pilvitallennus, käyttäjätuki ja lisäominaisuudet edullisena vuositilauksena.</p>
</div>
{{< /blocks/cover >}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-users" title="Yhdistyksille" %}}
Ohjelma on kehitetty alunperin yhdistyksille, joten yhdistyksien tarvitsemiin toimintoihin on panostettu aivan
erityisesti.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-industry" title="Yrittäjille ja yrityksille" %}}
Kitsaalla huolehdit vaivattomasti toiminimen tai pienehkön yrityksen kirjanpidon.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-home" title="Asunto-osakeyhtiöille"%}}
Kitsaasta löytyy tilikartta myös asunto-osakeyhtiöille.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="white">}}

	
{{< nosto title="Eroon mapeista" image="sahkoinen" >}}
Kitsas käsittelee ja arkisto sähköiset tositteet
{{</nosto>}}		

{{< nosto title="Laskuta" image="lasku">}}
Kitsaassa on sisäänrakennettu laskutus
{{</nosto>}}


{{< /blocks/section>}}


{{< blocks/section color="primary" >}}
<div class="mx-auto">
<h2 class="text-center">Tilaajille vielä enemmän</h2>
<ul class="list-unstyled">
	<li> <i class="fa fa-check"></i> Kirjanpidon tallentaminen Kitsaan pilveen</li>
	<li><i class="fa fa-check"></i> Monta samanaikaista käyttäjää</li>
	<li><i class="fa fa-check"></i> Finvoice-verkkolaskut</li>
	<li><i class="fa fa-check"></i> Tekstintunnistus skannatuista tositteista</li>
	<li><i class="fa fa-check"></i> Vastikelaskutus ja asiakaskohtaiset laskut</li>
	<li><i class="fa fa-check"></i> Ostolaskujen kierrätys ja laskutusportaali</li>
	<li><i class="fa fa-check"></i> WebKitsas</li>
	<li><i class="fa fa-check"></i> Käyttäjätuki sähköpostilla</li>
</ul>
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="hinnat">
		Katso hinnat
	</a>
</div>

{{< /blocks/section >}}



{{< blocks/section color="white">}}
<div class="col">
	<h1 class="text-center">Uutta Kitsaassa</h1>
</div>
{{<recent_posts>}}
{{<uutiskirje>}} 
{{< /blocks/section >}}
